.main{
  display: flex;
}


.sidebar{
  height: 100vh;
  width:fit-content;
  background-color: hotpink;
}



.sidebar-profile{
  display: flex;
}

.sidebar-list{
  margin-left: 0;
  padding-left: 0px;
}

.list-items{
justify-content:space-evenly;
}
.list ,.subject-list{
  list-style: none;

}


.subject-button{
  background-color:rgb(103, 203, 243) ;
  color: white;
  padding: 16px;
  font-size: 16px;
  min-width:150px;
  cursor: pointer;
}

.subject{
  position: relative;
  display: inline-block;
  padding-top: 15px;
}


.subject-content{
  display: none;
  text-decoration: none;
  position: absolute;
  background-color: ghostwhite;
  min-width: 160px;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
}

.subject-content Link {
  color:black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}


.subject-content Link:hover{
  background-color: #f1f1f1;
  text-decoration: none;
}

.subject:hover .subject-content{
  display: block;
  text-decoration: none;
}

a{
  text-decoration: none;
}




























.sidebar-end{
  
  padding-top: 100px;
}


.sidebar-last-item{
  margin-bottom: 0px;
  padding-bottom: 0px;
}