.login {
    height: calc(100vh - 50px);
    align-items: center;
    justify-content: center;
   align-items: center;
    background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
    color: #0a0ae2;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(252, 173, 173);
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }